<div>
  <!-- !FooterTop Area -->
  <div class="container py-10 flex items-center justify-between space-x-6">
    <div class="flex justify-start items-center space-x-5">
      <img src="../../../assets/images/utilities/call-center.png" alt="" />
      <div>
        <h2 class="text-xl font-semibold text-gray-900 mb-1">
          24 Customer Support
        </h2>
        <h4 class="text-base font-normal text-gray-500">Contact us 24 hours</h4>
      </div>
    </div>
    <div class="flex justify-start items-center space-x-4">
      <img
        src="../../../assets/images/utilities/010-call-center 5.png"
        alt=""
      />
      <div>
        <h2 class="text-xl font-semibold text-gray-900 mb-1">
          Best Prices & Offers
        </h2>
        <h4 class="text-base font-normal text-gray-500">
          Within best prices..
        </h4>
      </div>
    </div>
    <div class="flex justify-start items-center space-x-4">
      <img src="../../../assets/images/utilities/authentic.png" alt="" />
      <div>
        <h2 class="text-xl font-semibold text-gray-900 mb-1">
          Authentic Products
        </h2>
        <h4 class="text-base font-normal text-gray-500">Ttrusted products</h4>
      </div>
    </div>
    <div class="flex justify-start items-center space-x-4">
      <img src="../../../assets/images/utilities/secure.png" alt="" />
      <div>
        <h2 class="text-xl font-semibold text-gray-900 mb-1">Secure Payment</h2>
        <h4 class="text-base font-normal text-gray-500">
          Your payments is secure..
        </h4>
      </div>
    </div>
  </div>
  <!-- !Main footer -->
  <div class="bg-gray-200 pt-20 pb-4">
    <div class="container">
      <!-- !main to footer -->
      <div class="flex justify-between items-start space-x-10">
        <div class="w-1/2">
          <div class="logo">
            <a
              href="#"
              class="flex items-center text-gray-900 hover:text-gray-900"
            >
              <img src="../assets/images/logo.png" class="w-16 h-16" alt="" />
              <h2 class="leading-10 ms-2 antialiased text-teat-600 text-4xl">
                Organic Shop
              </h2>
            </a>
          </div>
          <div>
            <p class="text-base font-normal text-gray-500 my-6">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis porro adipisci tenetur culpa totam temporibus esse
              eum inventore possimus? Ratione aliquid consequatur non, saepe
              officia laborum alias odit commodi ex?
            </p>
          </div>
          <div class="flex justify-start items-center space-x-4 py-2">
            <a href="#"
              ><img
                src="../../../assets/images/utilities/Apple badge.png"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../assets/images/utilities/Play store badge.png"
                alt=""
            /></a>
          </div>
        </div>
        <div class="min-w-max">
          <h2 class="text-xl font-semibold py-4">About Us</h2>
          <div class="flex flex-col justify-start space-y-2">
            <a href="#" class="hover:border-b-1 border-green-600">Blog</a>
            <a href="#" class="hover:border-b-1 border-green-600">About</a>
            <a href="#" class="hover:border-b-1 border-green-600">Contact</a>
            <a href="#" class="hover:border-b-1 border-green-600">Categories</a>
            <a href="#" class="hover:border-b-1 border-green-600"
              >Terms and Conditions</a
            >
          </div>
        </div>
        <div class="w-auto">
          <h2 class="text-xl font-semibold py-4">Info</h2>
          <div class="flex flex-col justify-start space-y-2">
            <a href="#" class="hover:border-b-1 border-green-600"
              >Information</a
            >
            <a href="#" class="hover:border-b-1 border-green-600">Shipping</a>
            <a href="#" class="hover:border-b-1 border-green-600">Payment</a>
            <a href="#" class="hover:border-b-1 border-green-600">Return</a>
          </div>
        </div>
      </div>
      <!-- !main bottom footer -->
      <div class="flex justify-between items-center mt-20 pb-4">
        <div class="flex justify-start items-center space-x-2">
          <a href="#">
            <img src="../../../assets/images/utilities/twitter.png" alt="" />
          </a>
          <a href="#">
            <img src="../../../assets/images/utilities/facebook.png" alt="" />
          </a>
          <a href="#">
            <img src="../../../assets/images/utilities/skype.png" alt="" />
          </a>
          <a href="#">
            <img src="../../../assets/images/utilities/instagram.png" alt="" />
          </a>
        </div>
        <div>
          <p>&copy; ALl rights reserved &copy; 2022</p>
        </div>
        <div class="flex justify-center items-center space-x-4">
          <a href="#">
            <img src="../../../assets/images/utilities/paypal.png" alt="" />
          </a>
          <a href="#">
            <img src="../../../assets/images/utilities/visa.png" alt="" />
          </a>
          <a href="#">
            <img src="../../../assets/images/utilities/gPay.png" alt="" />
          </a>
          <a href="#">
            <img src="../../../assets/images/utilities/applePay.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
