<div class="category">
  <div class="categoryTitle w-full border-b-1 border-gray-300 relative mb-3">
    <h2 class="text-3xl font-bold secTitle pb-2">Search By Category</h2>
  </div>
  <div class="flex justify-between items-center space-x-5">
    <a
      class="py-9 px-20 bg-gray-300 text-base font-medium text-center cursor-pointer hover:bg-green-200 hover:text-gray-900 rounded-lg"
    >
      <img src="../assets/images/category/strawbery.png" alt="" />
      <h2>Fruits</h2>
    </a>
    <a
      class="py-9 px-20 bg-gray-300 text-base font-medium text-center cursor-pointer hover:bg-green-200 hover:text-gray-900 rounded-lg"
    >
      <img src="../assets/images/category/fish.png" alt="" />
      <h2>Fish</h2>
    </a>
    <a
      class="py-9 px-20 bg-gray-300 text-base font-medium text-center cursor-pointer hover:bg-green-200 hover:text-gray-900 rounded-lg"
    >
      <img src="../assets/images/category/icecrem.png" alt="" />
      <h2>Ice Cream</h2>
    </a>
    <a
      class="py-9 px-20 bg-gray-300 text-base font-medium text-center cursor-pointer hover:bg-green-200 hover:text-gray-900 rounded-lg"
    >
      <img src="../assets/images/category/meat.png" alt="" />
      <h2>Meat</h2>
    </a>
    <a
      class="py-9 px-20 bg-gray-300 text-base font-medium text-center cursor-pointer hover:bg-green-200 hover:text-gray-900 rounded-lg"
    >
      <img src="../assets/images/category/tomato.png" alt="" />
      <h2>Vegetables</h2>
    </a>
    <a
      class="py-9 px-20 bg-gray-300 text-base font-medium text-center cursor-pointer hover:bg-green-200 hover:text-gray-900 rounded-lg"
    >
      <img src="../assets/images/category/groceries.png" alt="" />
      <h2>Groceries</h2>
    </a>
  </div>
</div>
