<div
  class="bg-green-100 flex justify-around items-center space-x-10 rounded-xl"
>
  <div class="w-2/5">
    <span class="text-green-600 text-xl font-bold">Save upto 30%</span>
    <h2 class="text-6xl font-bold font-sans block py-3">
      Organic Vegetables Farm Organic 100%
    </h2>
    <p class="text-lg text-gray-500">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum nihil cum
      reiciendis odit quam voluptas nisi molestiae voluptatem, possimus veniam
      dolores voluptate eius, maxime nobis corporis? Deserunt deleniti quam
      dolore?
    </p>

    <button
      class="px-5 py-2 rounded-full text-base font-semibold bg-green-600 my-5 text-gray-200"
    >
      Shop
    </button>
  </div>
  <div>
    <img
      class="min-w-max pt-10"
      style="height: 500px"
      src="../assets/images/hero-image.png"
      alt=""
    />
  </div>
</div>
