<div class="promoArea flex justify-between items-center space-x-5 my-12">
  <div class="w-1/2 relative">
    <img src="../assets/images/feature1.png" alt="" />
    <div class="absolute w-72 top-40 left-20 z-50">
      <span class="text-orange-600 text-lg font-medium"> Buy 1 Get 1!!</span>
      <h2 class="text-4xl text-gray-900 mb-5 font-bold my-3 block leading-10">
        Fresh Fruits Collection!
      </h2>
      <button
        class="text-base font-medium text-orange-600 rounded-full px-5 py-2 bg-gray-100"
      >
        Order Now
      </button>
    </div>
  </div>
  <div class="w-1/2 relative">
    <img src="../assets/images/feature2.png" alt="" />

    <div class="absolute w-72 top-40 left-20 z-50">
      <span class="text-orange-600 text-lg font-medium"> Buy 1 Get 1!!</span>
      <h2 class="text-4xl text-gray-900 mb-5 font-bold my-3 block leading-10">
        Fresh Fruits Collection!
      </h2>
      <button
        class="text-base font-medium text-orange-600 rounded-full px-5 py-2 bg-gray-100"
      >
        Order Now
      </button>
    </div>
  </div>
</div>
