<div class="py-10">
  <!-- !Header Top -->
  <div class="header_top container flex justify-between items-center">
    <!-- log -->
    <div class="logo">
      <a href="#" class="flex items-center text-gray-900 hover:text-gray-900">
        <img src="../assets/images/logo.png" class="w-16 h-16" alt="" />
        <h2 class="leading-10 ml-5 text-teat-600 text-4xl">Organic Shop</h2>
      </a>
    </div>
    <!-- search -->
    <div
      class="searchArea flex justify-center items-center border border-gray-100 rounded-full"
    >
      <img src="../assets/images/search.png" alt="" />
      <input
        type="text"
        placeholder="Search here ..."
        class="focus:outline-none px-3 border-0"
      />
      <button class="bg-gray-900 text-gray-300 py-2 px-4 rounded-full">
        Search
      </button>
    </div>
    <!-- profile -->
    <div class="profile flex items-center space-x-2">
      <a
        href=""
        class="rounded-full w-6 h-6 hover:bg-gray-200 hover:border-2 hover:text-indigo-600 mx-1 p-2"
      >
        <img src="../assets/images/heart.png" alt="" />
      </a>
      <a
        href=""
        class="rounded-full w-6 h-6 hover:bg-gray-200 mx-1 p-2 relative"
      >
        <img src="../assets/images/u_shopping-bag.png" alt="" />
        <span
          class="bg-red-600 text-white font-semibold rounded-full w-2 h-2 p-1 absolute inset-x-0"
          >3</span
        >
      </a>
      <a href="" class="rounded-full w-6 h-6 hover:bg-gray-200 mx-1 p-2">
        <img src="../assets/images/user.png" alt="" />
      </a>
      <a href=""> Account </a>
    </div>
  </div>
</div>
